/* base */
body {
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: antiquewhite; }

/* layouts*/
  header {
    width: 100%;
    z-index: 1;
    position: sticky;
    border-radius: 2px black solid ;}

  .containerBarraDescuentos {
    background-color: #523a12;
    width: 100%;
    height: 30px;
    text-align: center;
    z-index: 0; }

  .containerBarraDescuentos .barraDescuentos{
    margin: 0%;
    color: white;}

  nav a img:hover {
    transform: scale(1.2, 1.2);
    transition: all 0.5s; }





/* pages */
  .titleCard {
    margin: auto;
    font-size: 40px;
    font-weight: 100px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center; }


/* Cards */

  main{
  margin: auto;
  padding: auto;}

  .containerPadreCards{
    display: flex;
    text-align: center;
    padding: 20px;}

  .imagenCards{
    width: 7vw;
    height: 8vw;
  }




  .containerFormulario {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 90px; }
    .containerFormulario h2 {
      margin-bottom: 15px;
      font-size: 35px; }
    .containerFormulario p {
      font-size: 17px;
      line-height: 1.6;
      margin-bottom: 30px; }
    .containerFormulario a {
      font-size: 17px;
      display: inline-block;
      text-decoration: none;
      width: 100%;
      margin-bottom: 10px;
      font-weight: 700;
      color: black; }
    .containerFormulario i {
      color: orange;
      margin-right: 10px; }
      .containerFormulario i:hover {
        color: #28ca77; }

  .fieldset {
    padding: 40px; }

  .campo {
    width: 300px;
    font-size: 15px;
    gap: 10px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: 0px;
    display: flex; }

  .textArea {
    width: 200px;
    max-width: 200px; }

  .boton {
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: 0px;
    border-radius: 3px;
    background: orange;
    color: white;
    cursor: pointer;
    transition: all 300ms; }
    .boton:hover {
      background-color: #28ca77; }


/*Footer*/

  footer {
  grid-area: footer;
  width: 100%;
  padding: 10px 0px;
  background-color: #425b49; }

.containerFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: -37px auto -29px;
  color: #f5f3f1; }

.boxFooter {
  display: flex;
  flex-direction: column;
  padding: 40px; }
  .boxFooter .logo img {
    width: 160px; }
  .boxFooter .terminos {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px; }
  .boxFooter h2 {
    margin-bottom: 30px;
    font-weight: 700;
    color: #f5f3f1; }
  .boxFooter a {
    margin-top: 10px;
    font-weight: 600; }
  .boxFooter a:hover {
    opacity: 0.8; }
  .boxFooter a .fa-brands {
    font-size: 20px;
    padding: 8px; }

.boxCopyright {
  color: white;
  text-align: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 4px; }
  .boxCopyright p {
    color: #7a7a7a; }
  .boxCopyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a; }

